body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

.info {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 18px;
  margin-bottom: 20px;
}

.grid {
  width: 360px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.hole {
  width: 100px;
  height: 100px;
  background: #020617;
  border-radius: 50%;
  border: 2px solid #38bdf8;
  cursor: pointer;
}

.hole.active {
  background: #22c55e;
}

button {
  margin-top: 20px;
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #38bdf8;
  color: black;
}

button:hover {
  background: #0ea5e9;
}
